<div class="container">
    <div class="row py-3 px-2">
        <div class="col-6 fw-bold">{{marksData?.name}}</div>
        <div class="col-6">Assignment - {{marksData?.assignment}}</div>
        <hr>
        <form class="col-12" [formGroup]="marksForm" (ngSubmit)="handleSubmit()">
            <div>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Marks</mat-label>
                    <input matInput placeholder="Marks" type="number"  min="0" max="100" formControlName="marks" />
                </mat-form-field>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" [disabled]="marksForm.invalid">upload</button>
            </div>
        </form>
    </div>
</div>