<div class="container py-4 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <img [src]="profiledata?.photo ? profiledata?.photo : '/assets/default-profile.png'" alt="Profile Image"
                    class="profile_img">
                <p class="mt-2 fw-bold">{{profiledata?.email}}</p>
                <p class="fw-bold fs-5">{{profiledata?.department}}</p>
            </div>
            <hr>
            <div class="row">
                <div class="col-6 py-3 fw-bold">Name : </div>
                <div class="col-6 py-3 text-end">{{profiledata?.teacherName}}</div>
                <div class="col-6 py-3 fw-bold">Mobile Number : </div>
                <div class="col-6 py-3 text-end">{{profiledata?.mobileNumber}}</div>
                <div class="col-6 py-3 fw-bold">Major Subject : </div>
                <div class="col-6 py-3 text-end">{{profiledata?.majorSubject}}</div>
                <div class="col-6 py-3 fw-bold">Handling Subjects : </div>
                <div class="col-6 py-3 text-end"><span *ngFor="let s of profiledata?.handlingSubjects"> {{s}} </span>
                </div>
            </div>
            <hr>
            <!-- nav links -->
            <div>
                <div class="d-flex justify-content-between py-3">
                    <span>Check Exam Marks</span>
                    <a routerLink="/marks">Click Here</a>
                </div>
                <div class="d-flex justify-content-between py-3">
                    <span>Menties List</span>
                    <a routerLink="/menties">Click Here</a>
                </div>
                <div class="d-flex justify-content-between py-3">
                    <span>Placement Details</span>
                    <a routerLink="/placement">Click Here</a>
                </div>
                <div class="d-flex justify-content-between py-3">
                    <span>Verify Assignments</span>
                    <a routerLink="/assignments">Click Here</a>
                </div>
            </div>
            <hr>
            <div>
                <button (click)="logOut()" class="btn btn-secondary w-100">Logout</button>
            </div>
        </div>
    </div>
</div>