<div class="container">
    <div class="row py-2 px-1">
        <div class="col-6 py-2">
            <h3 class="fw-bold">Assignments</h3>
        </div>
        <div class="col-6 text-end py-2">
            <mat-icon aria-hidden="false" aria-label="Filter" matTooltip="Filters"
                (click)="showFilters = !showFilters">menu</mat-icon>
        </div>
        <hr>
        <!-- filters form -->
        <div class="col-12" [formGroup]="filtersForm" *ngIf="showFilters">
            <div>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Year</mat-label>
                    <mat-select formControlName="year">
                        <mat-option value=""> All </mat-option>
                        <mat-option value="firstYear"> First Year </mat-option>
                        <mat-option value="secondYear"> Second Year </mat-option>
                        <mat-option value="thirdYear"> Third Year </mat-option>
                        <mat-option value="fourthYear"> Fourth Year </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Subject</mat-label>
                    <mat-select formControlName="subject">
                        <mat-option value=""> All </mat-option>
                        <mat-option class="text-uppercase" [value]="s" *ngFor="let s of subjectList">
                            {{s}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <hr>
        </div>
        <h2 class="text-center" *ngIf="assignmentDetails.length === 0">No Data Found</h2>
        <div class="col-12 col-md-6 col-lg-lg-4 shadow mb-2 border border-dark py-2"
            *ngFor="let a of assignmentDetails">
            <div class="d-flex justify-content-between align-items-center">
                <span class="fw-bold">{{a?._id.studentName}}</span>
                <span>{{a?._id.examNumber}}</span>
            </div>
            <hr>
            <mat-accordion class="ms-3" *ngFor="let s of a?.subjects; index as i">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div style="font-size: 14px;">{{s.subject }}</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Assignment</th>
                                    <th scope="col" class="text-center">File</th>
                                    <!-- <th scope="col" class="text-center">Marks</th> -->
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let u of s?.units; ">
                                    <th scope="row" class="text-center">{{u.unit}}</th>
                                    <th class="text-center">
                                        <a target="_blank" [href]="u.pdfFiles[0]" download>
                                            <mat-icon aria-hidden="false" aria-label="Edit"
                                                matTooltip="Download">download</mat-icon>
                                        </a>
                                    </th>
                                    <!-- <th class="text-center">
                                        {{u?.marks ? u?.marks : 'Pending'}}
                                    </th> -->
                                    <th class="text-center">
                                        <button class="btn btn-primary">Marks</button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>